<div>
  <div class="header">
        <h1>Selecting  Data</h1>
        <p>From Mysql</p>       
    </div>

        <form action="/" method="GET">
       	<select class="form-control" id="sel1">
      	<% dropdownvals.forEach(function(dropdownval){ %>
    		<%= dropdownval.names %>
        <% console.log(dropdownval.names)%>
  		<% })%>
     	 </select>

      
        </form>


  
    <script type="text/javascript" src="main.js"></script>
</div>